<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- The SDK adds the supportedRuntime SKU for each architecture's target framework. -->
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false;Switch.System.Windows.DoNotUsePresentationDpiCapabilityTier2OrGreater=false" />
  </runtime>
</configuration>
